<h1>{{theAuthor.name}}</h1>
<a href="/authors/edit/{{theAuthor._id}}">Edit This Author</a>


<h3>
Born: {{theAuthor.hometown}} {{theAuthor.birthday}}
</h3>


<img src="{{theAuthor.image_url}}" style="width: 250px">


<br><br>

<form action="/authors/delete/{{theAuthor._id}}" method="post">
    <button>Delete This Author</button>
</form>