<h1>Book Details</h1>
<a href="/books/edit/{{theBook._id}}">Edit This Book</a>

<h3>Title: {{theBook.title}}</h3>

<h3>Author: {{theBook.author}}</h3>

<p>Description: {{theBook.description}}</p>

<p>rating: {{theBook.rating}}</p>

<img src="{{theBook.image_url}}" style="width: 150px">


<br><br>


<form action="/books/delete/{{theBook._id}}" method="post">
    <button>Delete This Book</button>
</form>