<div>
    <h2>{{this.name}}</h2>
    <p>This beer ID: {{this._id}}</p>
    <a href="/beers/{{this._id}}">See This beer on a separate page</a>
    <p>Tagline: {{this.tagline}}</p>
    <img src="{{this.image_url}}" style="width: 50px" alt="">
<hr>
</div>