
<h1>
{{theBeer.name}}
</h1>

<h3>{{theBeer.tagline}}</h3>

<p>abv: {{theBeer.abv}}</p>
<p>ibu: {{theBeer.ibu}}</p>

<img src="{{theBeer.image_url}}"  style="width: 80px" >


<p>{{theBeer.description}}</p>


